<p id="notice"><%= notice %></p>

<h1>Les Clubs</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Logo</th>
      <th scope="col">Ville</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= image_tag club.avatar, width: "50", alt: club.name %></td>
        <td><%= club.city %></td>
        <td><%= link_to 'Afficher', club, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Modifier', edit_club_path(club), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Supprimer', club, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Club', new_club_path, class: 'btn btn-success mb-3 ml-3' %>
