<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @club.avatar, width: "50", alt: @club.name %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @club.city %>
</p>

<%= link_to 'Edit', edit_club_path(@club), class: 'btn btn-warning mr-3' %>
<%= link_to 'Back', clubs_path, class: 'btn btn-primary' %>
