<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= check_box_tag 'team[active]', true, @team.active %>
  </div>

  <% @players.each do |player| %>
    <div>
      <p>
        <%= check_box_tag "team[player_ids][]", player.id, @team.players.include?(player) %>
        <strong><%= player.name %></strong> - <%= player.role.name %>
      </p>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
