<p id="notice"><%= notice %></p>

<h1>Équipes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Voir', team %></td>
        <td><%= link_to 'Modifier', edit_team_path(team) %></td>
        <td><%= link_to 'Supprimer', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle équipe', new_team_path %>
