<p id="notice"><%= notice %></p>

<p>
  <strong><%= @team.name %></strong>
</p>

<% @players.each do |player| %>
  <div>
    <%= player.name %>
  </div>
<% end %>

<%= link_to 'Modifier', edit_team_path(@team) %> |
<%= link_to 'Retour', teams_path %>
