<h1>Modifier Championnat</h1>

<%= render 'form', league: @league %>

<%= link_to 'Afficher', @league, class: 'btn btn-primary mr-3 mt-3' %>
<%= link_to 'Retour', leagues_path, class: 'btn btn-light mt-3' %>
