<p id="notice"><%= notice %></p>

<h1>Championnats</h1>


<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Logo</th>
      <th scope="col">Pays</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= image_tag league.avatar, width: "50", alt: league.name %></td>
        <td><%= league.country %></td>
        <td><%= link_to 'Afficher', league, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Modifier', edit_league_path(league), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Supprimer', league, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau championnat', new_league_path, class: 'btn btn-success mb-3 ml-3' %>
