<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @league.avatar, width: "50", alt: @league.name %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @league.country %>
</p>

<%= link_to 'Modifier', edit_league_path(@league), class: 'btn btn-warning mr-3' %>
<%= link_to 'Retour', leagues_path, class: 'btn btn-light' %>
