<p id="notice"><%= notice %></p>

<h2>Choisissez votre adversaire</h2>

<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <p>
      <%= user.email %>
      <%= link_to 'Affronter', match_path(current_user), class: 'btn btn-primary' %>
    </p>
  <% end %>
<% end %>
