<div class="text-center" id="banner_index">
	<div class="text-white">
		<h1 class="display-4 font-weight-normal">Handball Ultimate Team</h1>
		<p class="lead font-weight-normal">Handball Ultimate Team ou HUT est une application de gestion d'équipe virtuelles de Handball</p>
		<% if user_signed_in? %>
      <%= link_to 'Mes joueurs', my_players_path, class: 'btn btn-dark' %>
		<% else %>
      <%= link_to "Se connecter", new_user_session_path, class: 'btn btn-dark' %>
		<% end %>
	</div>
</div>


