<%= form_with(model: pack, local: true) do |form| %>
  <% if pack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pack.errors.count, "error") %> prohibited this pack from being saved:</h2>

      <ul>
      <% pack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :cards_number %>
    <%= form.number_field :cards_number %>
  </div>

  <% @players.each do |player| %>
    <div>
      <%= check_box_tag "pack[player_ids][]", player.id, @pack.players.include?(player) %>
      <%= player.name %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
