<p id="notice"><%= notice %></p>

<h1>Les Packs</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @packs.each do |pack| %>
      <tr>
        <td><%= image_tag 'Packs/pack-default.png', width: "70", alt: 'Pack preview' %></td>
        <td><%= pack.name %></td>
        <td><%= pack.price %></td>
        <% if current_user.try(:admin?) && !@isBuy %>
          <td><%= link_to 'Afficher', pack, class: 'btn btn-primary' %></td>
          <td><%= link_to 'Modifier', edit_pack_path(pack), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Supprimer', pack, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn btn-danger' %></td>
        <% end %>
        <% if user_signed_in? && @isBuy %>
          <td><%= link_to 'Acheter', buy_pack_path(pack, current_user), class: 'btn btn-light' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Pack', new_pack_path, class: 'btn btn-success mb-3 ml-3' %>
