<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @pack.name %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @pack.price %>
</p>

<% @players.each do |player| %>
  <div>
    <%= player.name %>
  </div>
<% end %>

<%= link_to 'Modifier', edit_pack_path(@pack), class: 'btn btn-warning mr-3' %>
<%= link_to 'Retour', packs_path, class: 'btn btn-light' %>
