<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Prix de vente' %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.number_field :note %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.number_field :speed %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.number_field :strength %>
  </div>

  <div class="field">
    <%= form.label :defense %>
    <%= form.number_field :defense %>
  </div>

  <div class="field">
    <%= form.label :shoot %>
    <%= form.number_field :shoot %>
  </div>

  <div class="field">
    <%= form.label :rarity %>
    <%= form.number_field :rarity %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
    <% if @player.avatar.attached? %>
      <p>
        <strong>Image actuelle :</strong>
        <%= image_tag @player.avatar, width: '100' %>
      </p>
    <% else %>
      <p>Vous n'avez pas encore d'image pour ce joueur</p>
    <% end %>
  </div>

  <div class="field">
    <%= form.collection_select :role_id, Role.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.collection_select :club_id, Club.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.collection_select :nationality_id, Nationality.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
