<h1>Modifier Joueur</h1>

<%= render 'form', player: @player %>

<%= link_to 'Afficher', @player, class: 'btn btn-primary mr-3 mt-3' %>
<%= link_to 'Retour', players_path, class: 'btn btn-light mt-3' %>
