<p id="notice"><%= notice %></p>

<h1>Les joueurs</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Vitesse</th>
      <th scope="col">Force</th>
      <th scope="col">Défense</th>
      <th scope="col">Tir</th>
      <th scope="col">Rareté</th>
      <th scope="col">Prix</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.speed %></td>
        <td><%= player.strength %></td>
        <td><%= player.defense %></td>
        <td><%= player.shoot %></td>
        <td><%= player.rarity %></td>
        <td><%= player.price %></td>
        <td><%= link_to 'Afficher', player, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Modifier', edit_player_path(player), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Supprimer', player, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Player', new_player_path, class: 'btn btn-success mb-3 ml-3' %>

