<p id="notice"><%= notice %></p>

<h1>Vos joueurs</h1>

<ul>
  <% @players.each do |player| %>
  <li>
    <span><%= player.name %></span>
    <span><%= player.note %></span>
    <span><%= link_to 'Vendre', sell_player_path(player) %></span>
    <span><%= link_to 'Détails', player %></span>
  </li>
  <% end %>
</ul>
