<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Note générale</strong>
  <%= @player.note %>
</p>

<p>
  <strong>Vitesse:</strong>
  <%= @player.speed %>
</p>

<p>
  <strong>Force:</strong>
  <%= @player.strength %>
</p>

<p>
  <strong>Défense:</strong>
  <%= @player.defense %>
</p>

<p>
  <strong>Tir:</strong>
  <%= @player.shoot %>
</p>

<p>
  <strong>Rareté:</strong>
  <%= @player.rarity %>
</p>

<% if @player.avatar.attached? %>
  <p>
    <%= image_tag @player.avatar, width: "150", alt: @player.name %>
  </p>
<% end %>

<% if current_user.try(:admin?) %>
  <%= link_to 'Modifier', edit_player_path(@player), class: 'btn btn-warning mr-3' %>
<% end %>

<%= link_to 'Retour', my_players_path, class: 'btn btn-light' %>

