<p id="notice"><%= notice %></p>

<h1>Les Roles</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Code</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.code %></td>
        <td><%= link_to 'Afficher', role, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Modifier', edit_role_path(role), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Supprimer', role, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau role', new_role_path, class: 'btn btn-success mb-3 ml-3' %>
