<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @role.code %>
</p>

<%= link_to 'Modifier', edit_role_path(@role), class: 'btn btn-warning mr-3' %>
<%= link_to 'Retour', roles_path, class: 'btn btn-light' %>
