.page-home {
  .container.mt-3 {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0!important;
    background:url('handball-banner.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before {
      content: '';
      background: rgba(0,0,0,0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    #banner_index {
      position: relative;
    }
  }
}