@import "bootstrap";
@import "_partials/home";

html, body, main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  > .container {
    flex: 1 0 auto;
  }
}

.page-footer{
	text-align: center;
	background: #181818;
	color: white;
	> p {
    margin: 20px 0;
  }
}