<h1>Modifier Nationalité</h1>

<%= render 'form', nationality: @nationality %>

<%= link_to 'Afficher', @nationality, class: 'btn btn-primary mr-3 mt-3' %>
<%= link_to 'Retour', nationalities_path, class: 'btn btn-light mt-3' %>
