<p id="notice"><%= notice %></p>

<h1>Les nationalités</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Logo</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @nationalities.each do |nationality| %>
      <tr>
        <td><%= nationality.name %></td>
        <td><%= image_tag nationality.avatar, width: "50", alt: nationality.name %></td>
        <td><%= link_to 'Afficher', nationality, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Modifier', edit_nationality_path(nationality), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Supprimer', nationality, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle nationalité', new_nationality_path, class: 'btn btn-success mb-3 ml-3' %>
