<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @nationality.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @nationality.avatar, width: "50", alt: @nationality.name %>
</p>

<%= link_to 'Modifier', edit_nationality_path(@nationality), class: 'btn btn-warning mr-3' %>
<%= link_to 'Retour', nationalities_path, class: 'btn btn-light' %>
