<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">HUT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Mes équipes', teams_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Mes joueurs', my_players_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Acheter des packs', list_packs_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Affronter des joueurs', users_index_path, class: 'nav-link' %></li>
      <% end %>

      <% if current_user.try(:admin?) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Gérer les packs', packs_path, class: 'dropdown-item' %>
          <%= link_to 'Gérer les joueurs', players_path, class: 'dropdown-item' %>
          <%= link_to 'Gérer les nationalités', nationalities_path, class: 'dropdown-item' %>
          <%= link_to 'Gérer les championnats', leagues_path, class: 'dropdown-item' %>
          <%= link_to 'Gérer les clubs', clubs_path, class: 'dropdown-item' %>
          <%= link_to 'Gérer les postes sur le terrain', roles_path, class: 'dropdown-item' %>
        </div>
      </li>
      <% end %>
    </ul>

    <ul class="navbar-nav">
    <% if user_signed_in? %>
      <span class="nav-link float-right">Crédits : <%= current_user.credit %></span>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Se connecter", new_user_session_path, class: 'nav-link' %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
