<!DOCTYPE html>
<html>
<head>
  <title>Hut</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <main class="page-<%= controller_name %>">

    <nav>
      <%= render "/nav/default.html.erb" %>
    </nav>
    <div class="container mt-3">
      <%= yield %>
    </div>
    <footer class="page-footer">
      <%= render "/partials/footer.html.erb" %>
    </footer>

  </main>
</body>
</html>
